@model Employee

@{
    //Layout = "~/Views/Shared/_Layout.cshtml"; //added in _ViewStart.cshtml
    ViewBag.Title = "Employee Details";
}

<h1>Details.cshtml from Views/Home Folder</h1>
<h3>@ViewData["PageTitle"]</h3>

@{
    var emp = ViewData["Employee"] as DemoApp2._2.Models.Employee;
}
<!--from view data loosely tuped-->
<div>Name: @emp.Name</div>
<div>Email: @emp.Email</div>

<!--from model strongly typed-->
<div>Name: @Model.Name</div>
<div>Email: @Model.Email</div>

@section Scripts{ 
    <script src="~/js/CustomScript.js"></script>
}